h1{
    color: white;
}

#control-section{
    background-color: silver;

}
#view-section{
    background-color: #222222;;
}

.todoCreatedAt{
    color: BurlyWood;
}
.todoText{
    color: white;
}
.todoPriority{
    color: white;
    float: left;
}
.done_button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    float: right;
}
.experassion_day{
    color: BurlyWood;
    text-align: justify;
}
#sortButton{
    background-color: green; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    margin-left: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
}
#addButton{
    background-color: green; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;    
    
}
#searchButton{
    background-color: green; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    margin-left: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
}
#allTask{
    background-color: LightGray;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    margin-left: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
}
.form_input {
  position: relative;
  padding: 0px 0 0;
  margin-top: auto;
  width: 50%;
}

#textInput {
  font-family: inherit;
  width: 90%;
  border: 0;
  border-bottom: 2px solid gray;
  margin-left: 10px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}

body {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color:#222222;
  font-size: 1.5rem;
}

#number_of_todo{
    font-size: 16px;
    margin-left: 10px;
}
#label_due_time{
    font-size: 16px;
    margin-left: 10px;

}
#label_of_priority{
    font-size: 16px;
    margin-left: 10px;
}
#helpButton{
    border-radius: 50%;
    background-color: indianred;
    float: right;
}